@import "tailwindcss";
@import "./css/colors.css";

/* Force light theme, as dark one is not yet developed */
@plugin "daisyui" {
  themes: light --default;
}

:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-gradient-to-tl from-primary-100 to-background-200 text-text-700 min-h-screen;
}

/* Custom Scrollbar Styles */
@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary-300) var(--color-background-100);
  }

  /* Webkit browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-background-100;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary-200 rounded-full border-2 border-background-100 transition-colors;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-500;
  }

  .custom-scrollbar::-webkit-scrollbar {
    @apply w-1.5;
  }
}

@theme {
  @keyframes shimmer {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}
