.card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  background: var(--color-background-900);
  outline: 1px solid rgba(255, 255, 255, 0.05);
  z-index: 1;
}

.card:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.2);
  z-index: 10;
}

.statusRibbon {
  position: absolute;
  top: 22px;
  right: -42px;
  width: 160px;
  text-align: center;
  transform: rotate(45deg);
  padding: 6px 0;
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  z-index: 20;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.scoreBadge {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px 10px;
  font-size: 12px;
  font-weight: 900;
  border-bottom-right-radius: 12px;
  z-index: 20;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  color: black;
}
